[Unit]
Description=Find My dashboard and read-only API
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/mnalavadi/find-my
Type=idle
ExecStart=/home/mnalavadi/.local/bin/uv run findmy serve
User=mnalavadi

[Install]
WantedBy=multi-user.target
